@import './stylesMain.scss';

.seccionSearch {
    width: 100% !important;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search{
    width: 80%;
    margin: 2rem;
}

.btnSearch{
    background-color: $firstMagenta;
    border-color: $firstMagenta;
    color: $neutralWhite;
    border-radius: 0rem .6rem .6rem 0rem;
}

.tableClient{
    width: 80%;
    thead{
        background-color: $firstAzul;
        color: $neutralWhite;
        padding: 2rem 1rem;
    }
}

